@charset "UTF-8";





.logo {
	text-align: center;
	padding-bottom: 40px;
}

.mail {
	text-align: center;
}

.password {
	text-align: center;
}

.button {
	text-align: center;
	padding-top: 20px;
}

.forgot {
	text-align: center;
	padding-top: 20px;
	padding-left: 300px;
}